<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    
    <h1 style="text-align: center;">This is server in About Page...! </h1>

    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>

    <form action="/addData" method="post">
        <table border="1" align="center">
            <tr>
                <td>Id</td>
                <td><input type="number" name="id"/></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name"/></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="email"/></td>
            </tr>
            <tr>
                <td>number</td>
                <td><input type="number" name="number"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit"/></td>
            </tr>
        </table>
    </form>

    <table border="1" align="center">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Number</th>
        </tr>

      <%  student.map((item)=>{   %>
          <tr>
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= item.email %></td>
            <td><%= item.number %></td>
          </tr>
       <% })  %>
    </table>
</body>
</html>