<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post" action="/register">
        <table border="1">
            <tr>
                <td>UserName:-</td>
                <td><input type="text" name="name"/></td>
            </tr>
            <tr>
                <td>Email:-</td>
                <td><input type="email" name="email"/></td>
            </tr>
            <tr>
                <td>Password:-</td>
                <td><input type="number" name="password"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="login"/></td>
            </tr>
        </table>

        <br/><br/>

        <table border="1">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
            </tr>

           <% userData.map((item)=>{  %>
               <tr>
                <td><%= item.name %></td>
                <td><%= item.email %></td>
                <td><%= item.password %></td>
               </tr>
      <%      })  %>
        </table>
    </form>
    
</body>
</html>