<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/editData" method="post">
        <table border="1" align="center">
            <tr>
                <td>Id</td>
                <td><input type="number" name="id" value="<%= editData.id %>"/></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" value="<%= editData.name %>"/></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="email" value="<%= editData.email %>"/></td>
            </tr>
            <tr>
                <td>number</td>
                <td><input type="number" name="number" value="<%= editData.number %>"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit"/></td>
            </tr>
        </table>
    </form>


</body>
</html>