<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .main{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f1f3f4;
        }
        input{
            padding: 10px;
            margin: 10px 0;
            border: none;
            border:1px solid #f1f3f4;
            width: 230px;
            outline-color: #f87c6d;
        }
        a{
            display: flex;
            justify-content: center;
        }
        button{
            border: none;
            padding: 10px 20px;
            margin-top: 20px;
            width: 230px;
            background-color: #f87c6d;
            color: #fff;
            font-weight: bold;
        }
        form{
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            background-color: #fff;
            padding: 30px 50px;
            border-radius: 5px;
        }
        ::placeholder{
            font-size: 12px;
        }
        h3{
            text-align: center;
            font-weight: 550;
            margin-bottom: 20px;
            font-size: 19px;
        }
    </style>
</head>
<body>

    <div class="main">
        <div class="inner">
            <form id="form" method="POST">
                <h3>REGISTER FORM</h3>
                <div>
                    <input type="text" placeholder="USERNAME" id="username"/>
                </div>
                <div>
                    <input type="password" placeholder="PASSWORD" id="password"/>
                </div>
                <div>
                   <a><button>Sign Up</button></a>
            </form>
        </div>
    </div>
 
    <script>
        let form = document.querySelector('#form');

        form.addEventListener('submit', (e)=>{
            e.preventDefault();

            let username = document.querySelector('#username').value;
            let password = document.querySelector('#password').value;

            fetch("/auth/register",{
                method:"POST",
                body:JSON.stringify({username,password}),
                headers:{
                    "Content-Type" : "application/json"
                }
            }).then((res)=> console.log("Data added successfully..."))
              .catch((error)=> console.log(error))
        })

        document.querySelector('#username').value ="";
        document.querySelector('#password').value ="";
    </script>
    
</body>
</html>